footer {
  border-bottom: 100px solid lighten($primary-color, 15%);
  padding: 3em 0;

  a {
    display: block;
    font-weight: bold;
    margin: 0.5em 0;

    &, &:hover {
      color: $dark-font-color;
    }
  }

  .pencil-container {
    text-align: center;

    i {
      font-size: 3em;
      transform: rotate(-45deg);
    }
  }
}
